<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title><%= title %></title>
</head>
<body>
     <nav>
        <h1><%= restaurant.name %></h1>
        <a href="/">Home</a>
        <a href="/menu">Full Menu</a>
        <a href="/menu/mains">Main</a>
        <a href="/menu/desserts">Desserts</a>
        <a href="/menu/sides">Sides</a>
     </nav>
</body>
</html>